.wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(100% - 32px);
}

.btn {
    margin-top: 16px;
}