.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}


.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.question {
    position: relative;
    z-index: 2;
    margin-top: 23px;

    color: var(--color-darkBlue);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    display: flex;
    align-items: start;
    gap: 8px;
}

.question img {
    margin-top: 3px;
}


.wrapper {
    overflow: hidden;
    min-height: 100%;
}


.bgSheet {
    position: absolute;
    z-index: 1;
    right: 0;
    top: calc(50vh - 60px);
    width: 94px;
}



.bgTomato {
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100vh - 150px);
    width: 315px;
}

.bgTomato2 {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 301px;
}

.bgStart {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
}

.bgCircle2 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: calc(50vh - 110px);
}

.bgCircle {
    position: absolute;
    z-index: 2;
    right: 0;
    top: calc(100vh - 200px);
}

.modal {
    position: relative;
    z-index: 2;
}

.arrowNone {
    opacity: 0;
}

.wrapper {
    background-image: url("../../assets/bg-items/bg-tomato.png"), url("../../assets/bg-items/bg-tomato.png"), url("../../assets/bg-items/bg-sheetUpRight.png");
    background-repeat: no-repeat;
    background-size: 150px, 234px, 129px;
    background-position: top -36px left -19px, bottom -87px left -66px, top calc(50vh - 30px) right -50px;
}