.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.wrapper>* {
    position: relative;
    z-index: 2;
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.question {
    position: relative;
    z-index: 2;
    margin-top: 23px;

    color: var(--color-darkBlue);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    display: flex;
    align-items: start;
    gap: 8px;
}

.question img {
    margin-top: 3px;
}

.btn {
    position: relative;
    z-index: 2;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}


.bgSheet {
    position: absolute;
    z-index: 1;
    right: 0;
    top: calc(50vh - 60px);
    width: 94px;
}



.bgTomato {
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100vh - 150px);
    width: 315px;
}

.bgTomato2 {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 301px;
}

.bgStart {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
}

.bgCircle2 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: calc(50vh - 110px);
}

.bgCircle {
    position: absolute;
    z-index: 2;
    right: 0;
    top: calc(100vh - 200px);
}




.answers {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answers__item {
    border-radius: 8px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.16);
    background: rgb(255, 255, 255);
    border: 1px solid transparent;
    color: var(--color-darkBlue);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers__item.check {
    border: 1px solid var(--color-darkBlue);
}

.answers__item.error {
    color: var(--color-red);
}

.answers__item.success {
    color: var(--color-green);
}