.modal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__text {
    padding: 16px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: var(--color-darkBlue);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.modal.border .modal__text {
    border: 1px solid var(--color-darkBlue);
}