.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modals {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.modals__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modals__text {
    border-radius: 8px;
    background: var(--color-lightRed);
    padding: 16px;
    color: var(--color-darkBlue);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.modals__item:nth-child(2) .modals__text {
    background: var(--color-lightMiamie);
}

.modals__item:last-child .modals__text {
    background: var(--color-white);
}

.wrapper {
    background-image: url("../../assets/bg-items/6tomato-1.png"), url("../../assets/bg-items/6tomato-2.png"), url("../../assets/bg-items/6sheet-1.png"), url("../../assets/bg-items/6sheet-2.png"), url("../../assets/bg-items/6circle.svg"), url("../../assets/bg-items/6circle-2.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 306px, 132px, 52px, 73px, 59%, 65%;
    background-position: -29px -82px, right bottom, right 10%, left 45%, left bottom 20px, right top;
}