* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-root);
}

.container {
  height: 100%;

  flex: 1 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 600px) {
  #root {
    padding: 2.5vh 0 2.5vh 0;
    height: 100vh;
  }

  .container {
    height: 95vh;
    border-radius: 10px;
    max-width: 600px;
    border: 5px solid var(--color-red);
  }
}

.wrapper {
  padding: 16px;
  position: relative;
}

.wrapper * {
  user-select: none;
}

.btn {
  width: 100%;
  border-radius: 8px;
  background: var(--color-red);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 11px;
  cursor: pointer;
  text-decoration: none;
}

.btn_grey {
  background: var(--color-grey);
  cursor: auto;
}

.btn_blue {
  background: var(--color-miamie);
}


.modal__start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 32px);
  cursor: none;
}

* {
  -webkit-tap-highlight-color: transparent
}

/* 
/=======SCREEN4========/ */

.mySwiper .swiper-slide {
  filter: blur(2px);
}

.mySwiper .swiper-slide-active {
  filter: blur(0px);
}


.mySwiper .swiper-slide {
  width: 306px;
}


body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("./assets/bg-items/3circle.svg") url("./assets/bg-items/3sheet-1.png") url("./assets/bg-items/3sheet-2.png") url("./assets/bg-items/3star.svg") url("./assets/bg-items/3star-2.svg") url("./assets/bg-items/3tomato-2.png") url("./assets/bg-items/3tomato.png") url("./assets/bg-items/6circle-2.svg") url("./assets/bg-items/6circle.svg") url("./assets/bg-items/6sheet-1.png") url("./assets/bg-items/6sheet-2.png") url("./assets/bg-items/6tomato-1.png") url("./assets/bg-items/6tomato-2.png") url("./assets/bg-items/bg-sheetUpRight.png") url("./assets/bg-items/bg-tomato.png") url("./assets/personsInfo/1.png") url("./assets/personsInfo/2.png") url("./assets/personsInfo/3.png") url("./assets/photo1-icon.png") url("./assets/photo2-icon.png") url("./assets/photo3-icon.png") url("./assets/photosTest/1men-1.png") url("./assets/photosTest/1men-2.png") url("./assets/photosTest/1men-3.png") url("./assets/photosTest/1men-4.png") url("./assets/5bg-circle2Test.svg") url("./assets/5bg-circleTest.svg") url("./assets/1heinz.png") url("./assets/1photo.png") url("./assets/5photoMen.png") url("./assets/5photoUser1.png") url("./assets/5photoUser2.png")
}