@import url("./fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap');

:root {
  font-family: "CoFo Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  --bg-grey: #ECECEC;
  --color-white: #FFFFFF;
  --color-red: #E02725;
  --color-lightRed: #FFE3E2;
  --color-green: #00823C;
  --color-darkBlue: #122A4E;
  --color-blue: #1B3D6D;
  --color-lightBlue: #DFE6EF;
  --color-yellow: #FEBD01;
  --color-lightYellow: #FFF2CC;
  --color-miamie: #08AFDC;
  --color-lightMiamie: #D6F6FE;
  --color-grey: #B3B3B3;

  --scrollbar-track-color: #ECECEC;
  --scrollbar-color: #FFE3E2;
  --scrollbar-width: 2px;

  --scrollbar-size: .375rem;
  --scrollbar-minlength: 1.5rem;
}

.scroll__elem {
  overflow: auto;
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

.scroll__elem::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);

}

.scroll__elem::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 8px;
}

.scroll__elem::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 8px;
  /* Если нужно - добавьте :hover и:active */
}

.scroll__elem::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}

.scroll__elem::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}

.scroll__elem.row:not(:last-child) {
  margin-bottom: 8px;
}

@supports (scrollbar-width: auto) {
  .scroll__elem {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}